/* linking font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;   
}
section{
    background: url(../img/bg.webp) center center no-repeat;
    height: 100vh;
}
.right-col{
    display: flex;
    justify-content: center;
align-items: center;
}
.right-div{
    text-align: center;
    width: 430px;
    margin-left: -80px;
    margin-top: -40px;
}
.right-div img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.right-div h4{
    margin-top: 40px;
    margin-bottom: 5px;
    color: #0e72cc;
}
.right-txt{
    width: 400px;
    margin: 0 auto;
    line-height: 18px;
    font-weight: 100;
}
.right-txt p{
    margin-bottom: 50px;
    color: #4190d6;
}
.btn{
    border-radius: 700px;
    width: 200px;
    font-weight: 500;
    font-size: medium;
}
.btn:hover{
background-color: rgb(0, 172, 246);
border-color:  rgb(0, 172, 246);
border-radius: 700px;
}
.left-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-txt{
    text-align: center;
    margin-top: 10px;
}
.btn2{
    width: 150px;
}
.btn-div{
width: 455px;
}
.left_last{
    font-size: small;
    padding-top: 5px;
}
.left_last p{
    margin-right: 5px;
}
.form-check-input{
    border-color: black;
    width: 13px;
    height: 13px;
    margin-top: 7px;
}
.form-check-label{
    font-size: small;
    font-style: italic;
}
.left-txt p{
    color: rgba(0, 0, 0, 0.489);
}
.form-control, .input-group-text{
    border-radius: 20px;   
}
.left-div1{
    background-color: rgba(144, 196, 248, 0.475);
    padding: 8px 15px;
    border-radius: 15px;
}
.form-control{
    background-color: #ffffffd8;
    height: 60px;
}
.form-check{
    padding-left: 50px;
}
